<!DOCTYPE html>
<html lang>
  <head>
    <title>Grocery List</title>
  </head>

  <body>
    <h2>Grocery List</h2>

    <ul>
      <% groceries.each do |grocery| %>
        <li><%= grocery %></li>
      <% end %>
    </ul>

    <form action="/groceries" method="post">
      <label for="grocery">New Grocery:</label>
      <input type="text" id="grocery" name="grocery" required>

      <label for="quantity">Quantity</label>
      <input type="number" name="quantity" required>

      <input type="submit" value="I will eat this later">
    </form>

  </body>
</html>
