<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List</title>
  </head>

  <body>
    <h1>Groceries</h1>

    <ul>
      <% groceries.each do |grocery| %>
      <li>
            <a href="/groceries/<%= grocery %>"><%= grocery %></a>
      </li>
      <% end %>
    </ul>

    <form action="/groceries" method="post">
      <label for="grocery_item">Grocery:</label>
      <input type="text" id="grocery_item" name="grocery_item" required>

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" required>

      <input type="submit" value="Add Grocery">
    </form>

  </body>
</html>
