<!DOCTYPE HTML>
<html>
  <head>
    <title>Grocery List Individual</title>
  </head>

	  <body>
	    <h1><%= "/:grocery" %></h1>

	    <ul>
	      <li><%= "/:grocery" %>: <%= 'quantity' %>
	    </ul>

	  </body>
	</html>
